# 编译输出文件夹
/bin/
/out/
build/
target/

# IDEA 或 Eclipse 的自动生成文件
/.idea/
/*.iml
/.classpath
/.project
/.settings/

# Maven 和 Gradle 缓存文件
/.mvn/
/.gradle/
/build/

# Java 的日志文件
*.log

# 临时文件
*.tmp
*.swp
*.bak
*.pid

# Java 编译生成的文件
*.class

# 测试覆盖率报告
/coverage/
/jacoco/

# 包含生成的 JAR、WAR 文件
*.jar
*.war
*.ear
/person.ser
